{%extends 'all-photos/base.html'%}
{% load bootstrap4 %}
{% load static %}
{% block content %}
{{ block.super}}
{% block styles %}
{% bootstrap_css %}
<link rel="stylesheet" href="{% static 'css/basephotos.css' %}">
{% endblock %}

<div class="container">
  <div class="row">
    {% for photos_item in image %}
    <div class="col-md-3">
      <a id="link" type="button" style="background-color: rgb(243, 225, 243);" data-toggle="modal"
        data-target="#exampleModalLong{{photos_item.id}}">
        <img style="width: 300px;height: 300px;" src="{{photos_item.image.url}}" class="img-responsive" alt="Image">
        <button>Likes: {{ photos_item.likes }}</button>
        <button>comments: {{ photos_item.comments }}</button>
      </a>

    </div>

    <div class="modal fade" id="exampleModalLong{{photos_item.id}}" tabindex="-1" role="dialog"
      aria-labelledby="exampleModalLongTitle" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="modal-title" id="exampleModalLongTitle">{{ photos_item.name}}</h2>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" style="text-align: center;">
            <img style="width: 300px;height: 300px;" src="{{photos_item.image.url}}" class="img-responsive" alt="Image">
            <h4 class="" style="color: purple;">caption:{% autoescape on %}
              {{ photos_item.caption | safe}}
              {% endautoescape %} </h4>

            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Looping through image end   -->

    {% empty %}
    <div class="row">
      <h4 class="text-center">No Posts</h4>
    </div>
    {% endfor %}
    <div class="container-fluid">

      <form action="{%url 'post'%}" method="post">

        {%csrf_token%}

        {% bootstrap_form letterForm layout='inline' %}
        <input type="submit" value="Subscribe">
      </form>

    </div>
  </div>


</div>
{% endblock %}